* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

button {
  border: 1px solid white;
  padding: 1rem;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 20px;
}
