* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.cuadrado {
  width: 200px;
  height: 200px;
  border: 1px solid white;
  background-color: brown;
  transform: translateX(200px);
  transition: transform 0.5s ease;
}

button {
  margin: 1rem 2.5rem;
  border: 1px solid white;
  color: white;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
}
